################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExerciseSuiteAutomationTest/ExerciseSuiteAutomationTest/obj
/ExerciseSuiteAutomationTest/.vs